<html lang="en" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>
    <main layout:fragment="content">


        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Stuff & Things</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquet velit ultricies ultricies eu scelerisque nulla. Donec taciti torquent tristique mus mollis praesent lacinia turpis. Himenaeos amet feugiat mollis sodales pulvinar per placerat risus condimentum.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Stuff</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Things</button>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title placeholder-glow">
                                <span class="placeholder col-4"></span>
                            </h5>
                            <p class="card-text placeholder-glow">
                                <span class="placeholder col-3"></span>
                                <span class="placeholder col-6"></span>
                                <span class="placeholder col-2"></span>
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-5"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </h5>
                            <p class="card-text placeholder-glow">
                                <span class="placeholder col-7"></span>
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-6"></span>
                                <span class="placeholder col-8"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>