<!DOCTYPE html>
<html lang="en" data-theme="nord">
<head>
    <meta charset="UTF-8">
    <title>People</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>


<div class="container-lg">

    <div class="card">
        <div class="card-header">
            People
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Gender</th>
                    <th scope="col">
                        <i class="bi bi-geo-alt"></i> Address
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${people}">
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.lastName}"></td>
                    <td>
                        <span th:if="${person.gender == 'Male'}">
                            <i class="bi bi-gender-male"></i> Male
                        </span>
                        <span th:if="${person.gender == 'Female'}">
                            <i class="bi bi-gender-female"></i> Female
                        </span>
                        <span th:unless="${person.gender == 'Male' || person.gender == 'Female'}">
                            <i class="bi bi-gender-ambiguous"></i> [${person.gender}]
                        </span>
                    </td>
                    <td th:text="${person.address}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>



</body>
</html>